## 1. Write a program to reverse a string.

In [1]:
s = "pwskills"
print(s[::-1])

sllikswp

In [2]:
name = "pwskills"
reverse_name = ""
for char in name:
    reverse_name = char + reverse_name
print(reverse_name)

sllikswp

In [ ]:
#2. Check if a string is a palindrome.

In [13]:
name = str(input("enter the name"))
reverse_name = ""
for char in name:
    reverse_name = char + reverse_name

if name == reverse_name:
    print("name is palindrome")
else:
    print("name is not palindrome")

enter the name mom

name is palindrome

In [ ]:
#3. Convert a string to uppercase.

In [16]:
name = str(input("enter the name"))
print(name.upper())

enter the name pwskills

PWSKILLS

In [ ]:
#4. Convert a string to lowercase.

In [20]:
name = str(input("enter the name"))
print(name.lower())

enter the name PWSKILLS

pwskills

In [ ]:
#5. Count the number of vowels in a string.

In [9]:
sentence = str(input('enter the stentence'))
vowels = "aeiouAEIOU"
count_vowel = 0
for char in sentence:
    if char in vowels:
        count_vowel += 1
print(count_vowel)

enter the stentence my name your name any boys name

10

In [ ]:
#6. Count the number of consonants in a string.

In [16]:
sentence = str(input('enter the stentence'))
vowels = "aeiouAEIOU"
consonent = set(c for c in sentence if c not in vowels)
count_consonent = 0
for char in sentence:
    if char in consonent:
        count_consonent += 1
print(count_consonent)

enter the stentence my name your name any boys name

21

In [ ]:
#7. Remove all whitespaces from a string.

In [3]:
sentence = str(input('enter the stentence'))
no_space_sentence = " "
for char in sentence :
    if char !=" ":
        no_space_sentence += char
print(no_space_sentence)

enter the stentence my name your name any boys name

 mynameyournameanyboysname

In [ ]:
#8. Find the length of a string without using the `len()` function.

In [5]:
name = str(input('entre the name'))
count = 0
for char in name:
    count += 1
print(count)

entre the name dressing

8

In [ ]:
#9. Check if a string contains a specific word.

In [6]:
string = "pwskills for skill improvment"
specific_string = "skill"
if specific_string in string:
    print("string contains the specific word")
else:
    print("string not contains the specific word")

string contains the specific word

In [ ]:
#10. Replace a word in a string with another word.

In [3]:
string = "red cat jumps the wall, yeollow dog sitting in the wall"
specific_string = "red"
replace_string = "yeollow"
new_string = string.replace(specific_string, replace_string)
print(new_string)

yeollow cat jumps the wall, yeollow dog sitting in the wall

In [ ]:
#11. Count the occurrences of a word in a string.

In [8]:
string = "pwskills for skill improvemnt skill & skill"
count_word = "skill"
words = string.split()
count = 0
for word in words:
    if word == count_word:
        count += 1
print(count)

3

In [ ]:
#12. Find the first occurrence of a word in a string.

In [11]:
string = "I am doing assignment and some question I am understand some not"
find_word = "question"
word_possition = string.find(find_word)
if word_possition != -1:
    print ("the first occurrence of a find_word starts at index")
    
else:
    print("find_word is not found")

the first occurrence of a find_word starts at index

In [12]:
string = "I am doing assignment and some question I am understand some not"
find_word = "question"

# Use string.find() to find the first occurrence
word_position = string.find(find_word)

if word_position != -1:
    print(f"The first occurrence of '{find_word}' starts at index {word_position}")
else:
    print(f"'{find_word}' is not found")

The first occurrence of 'question' starts at index 31

In [ ]:
#13. Find the last occurrence of a word in a string.

In [14]:
string = "I am doing assignment and some question I am understand some not"
find_word = "question"

# Use string.find() to find the first occurrence
word_position = string.rfind(find_word)
if word_position != -1:
    print(f"The first occurrence of '{find_word}' starts at index {word_position}")
else:
    print(f"'{find_word}' is not found")

The first occurrence of 'question' starts at index 31

In [ ]:
#14. Split a string into a list of words.

In [15]:
string = "I am doing assignment and some question I am understand some not"
split_string = string.split()
print(split_string)

['I', 'am', 'doing', 'assignment', 'and', 'some', 'question', 'I', 'am', 'understand', 'some', 'not']

In [ ]:
#15. Join a list of words into a string.

In [21]:
string = ['I', 'am', 'doing', 'assignment', 'and', 'some', 'question', 'I', 'am', 'understand', 'some', 'not']
seperator = ' '
join_string = seperator.join(string)
print(join_string)

I am doing assignment and some question I am understand some not

In [ ]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [24]:
string = "I am doing assignment and some question I am understand some not"
string_spaces_underscore = string.replace(" ", "_")
print(string_spaces_underscore)

I_am_doing_assignment_and_some_question_I_am_understand_some_not

In [ ]:
#17. Check if a string starts with a specific word or phrase.

In [29]:
string = "I am doing assignment and some question I am understand some not"
specific_word_string = "I"
if string.startswith(specific_word_string):
    print("string starting with specific_word_string")
else:
    print("string does not starting is with specific_word_string")

string starting with specific_word_string

In [ ]:
#18. Check if a string ends with a specific word or phrase.

In [31]:
string = "I am doing assignment and some question I am understand some not"
specific_word_string = "not"
if string.endswith(specific_word_string):
    print("string ending with specific_word_string")
else:
    print("string does not ending is with specific_word_string")

string ending with specific_word_string

In [ ]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [32]:
string = "hello world"
string.title()

'Hello World'

In [ ]:
#20. Find the longest word in a string.

In [37]:
string = "I am doing assignment and some question I am understand some not"
string_longest = ""
for word in string.split():
    if len(word)  > len(string_longest):
        string_longest = word
print("the longest word is :", string_longest)

the longest word is : assignment

In [ ]:
#21. Find the shortest word in a string.

In [44]:
string = "I am doing assignment and some question I am understand some not"
string_shortest = ""
for word in string.split():
    if not string_shortest or len(word)  < len(string_shortest):
        string_shortest = word
print("the shortest word is :", string_shortest)

the shortest word is : I

In [ ]:
#22. Reverse the order of words in a string.

In [45]:
string = "pwskills"
print(string[::-1])

sllikswp

In [ ]:
#23. Check if a string is alphanumeric.

In [4]:
string = "name1234"
string_alphanumeric = True
for char in string:
    if (char.isalpha() and char.isdigit()):
        string_alphanumeric = True
        break
if string_alphanumeric:
    print("string is alphanumeric")
else:
    print("string is not alphanumeric")

string is alphanumeric

In [ ]:
#24. Extract all digits from a string.

In [10]:
string = "name1234"
number = []
for char in string:
    if char.isdigit():
        number.append(char)
print(number)

['1', '2', '3', '4']

In [ ]:
#25. Extract all alphabets from a string.

In [14]:
string = "name1234"
alphabets = ""
for char in string:
    if char.isalpha():
        alphabets += char
print(alphabets)

name

In [ ]:
#26. Count the number of uppercase letters in a string.

In [18]:
string = "UpPerCase"
string_uppercase = 0
for char in string:
    if char.isupper():
        string_uppercase += 1
print(string_uppercase)

3

In [ ]:
#27. Count the number of lowercase letters in a string.

In [20]:
string = "lowercase"
string_lowercase = 0
for char in string:
    if char.islower():
        string_lowercase += 1
print(string_lowercase)

9

In [ ]:
#28. Swap the case of each character in a string.

In [2]:
string = "loWercase"
string.swapcase()

'LOwERCASE'

In [ ]:
#29. Remove a specific word from a string.

In [7]:
string = "lowercase is free to remove"
remove_word = "free"
words  = string.split() 
new_string = " "
for word in words:
    if word == remove_word:
        new_string = word + " "
print(new_string)

free

In [ ]:
#30. Check if a string is a valid email address.

In [11]:
#userid@domain_name. ext
import re
pattern = r"^[a-z ]+[\._]?[a-z ]+[@]\w+[.]\w{2,3}$"
email_id = input("enter your email id")
if re.search(pattern, email_id):
    print(f"{email_id} is valid: ")
else:
    print(f"{email_id} is notvalid: ")

enter your email id xyz@gmail.com

xyz@gmail.com is valid:

In [ ]:
#31. Extract the username from an email address string.

In [12]:
email = "xyz@gmail.com"
username = email.split("@")[0] 
print(username)

xyz

In [ ]:
#32. Extract the domain name from an email address string.

In [2]:
email = "xyz@gmail.com"
domain_name = email.split("@")[1].split(".")[0] 
print(domain_name)

gmail

In [ ]:
#33. Replace multiple spaces in a string with a single space.

In [14]:
text = "david     is    eating      food         with            friends"
' '.join(text.split())

'david is eating food with friends'

In [ ]:
#34. Check if a string is a valid URL.

In [1]:
def Find(string):
    x=string.split()
    text=[]
    for i in x:
        if i.startswith("https:") or i.startswith("http:"):
            text.append(i)
    return text
             

string = "https://www.theguardian.com/football"
print("Urls: ", Find(string))

Urls:  ['https://www.theguardian.com/football']

In [ ]:
#35. Extract the protocol (http or https) from a URL string.

In [2]:
string = "https://www.theguardian.com/football"
protocol = string.split("://")[0]
print(protocol)

https

In [ ]:
#36. Find the frequency of each character in a string.

In [7]:
text = "god is great god is immortal"
word_count = {}
for word in text.split():
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1
print(word_count)

{'god': 2, 'is': 2, 'great': 1, 'immortal': 1}

In [ ]:
#37. Remove all punctuation from a string.

In [9]:
import string
text = "I am, learning Python! so? that: I am; doing exercise"
transletor = str.maketrans(" "," ",string.punctuation)
new_text = text.translate(transletor)
print(new_text)

I am learning Python so that I am doing exercise

In [ ]:
#38.Check if a string contains only digits.

In [12]:
string = input("enter the string")
is_all_digit = True
for char in string:
    if not char.isdigit():
        is_all_digit = False
        break
if is_all_digit:
    print("the string contains only digit")
else:
    print("the string contains non-digit characters")

enter the string 6757896

the string contains only digit

In [ ]:
#39. Check if a string contains only alphabets.

In [21]:
string = input("enter the string")
is_all_alphabets = True
for char in string:
    if not char.isalpha():
        is_all_alphabets = False
        break
if is_all_alphabets:
    print("the string contains only alphabetic characters")
else:
    print("the string contains non-alphabetic characters")

enter the string 8889

the string contains non-alphabetic characters

In [ ]:
#40. Convert a string to a list of characters.

In [27]:
string = "my name"
new_string = list(string)
print(new_string)

['m', 'y', ' ', 'n', 'a', 'm', 'e']

In [ ]:
#41. Check if two strings are anagrams.

In [4]:
str1 = "bad"
str2 = "dad"

if sorted(str1) == sorted(str2):
    print("Two strings are anagrams")
else:
    print("Two strings are not anagrams")

Two strings are not anagrams

In [ ]:
#42. Encode a string using a Caesar cipher.

In [17]:
text = str(input("enter the text"))
text1 = " "
shift = 4
for i in text:
    shifted_char = chr(ord(i) + shift)
    text1 +=shifted_char
print(text1)

enter the text abcd

 efgh

In [ ]:
#43. Decode a Caesar cipher encoded string.

In [18]:
text = str(input("enter the text"))
text1 = " "
shift = 4
for i in text:
    shifted_char = chr(ord(i) - shift)
    text1 +=shifted_char
print(text1)

enter the text efgh

 abcd

In [ ]:
#44. Find the most frequent word in a string.

In [12]:
from collections import Counter

str1 = "I am learning python and I am learnig it with exercise"
words = str1.split()
word_count = Counter(words)
most_common_word, frequency = word_count.most_common(1)[0]
print(f" The most frequent word is '{most_common_word}' with a frequency of {frequency}.")

 The most frequent word is 'I' with a frequency of 2.

In [ ]:
#45. Find all unique words in a string.

In [17]:
str1 = "I am learning python and I am learning it with exercise"
words = str1.split() 
unique_words = set(words) 

print("Unique words in the string:")
for word in unique_words:
    print(word)

Unique words in the string:
it
am
exercise
learning
with
I
and
python

In [ ]:
#46. Count the number of syllables in a string.

In [27]:
def count_syllables(word):
    vowels = "aeiouyAEIOUY"
    count = 0
    prev_char_vowel = False  

    for char in word:
        if char in vowels:
            if not prev_char_vowel:
                count += 1  
            prev_char_vowel = True
        else:
            prev_char_vowel = False

    
    if word.endswith(('e', 'es')) and count > 1:
        count -= 1

    return count

str1 =  "I am learning python and I am learning it with exercise"
words = str1.split()

total_syllables = 0
for word in words:
    total_syllables += count_syllables(word)

vowels = "aeiouAEIOU"
vowel_count = sum(1 for char in str1 if char in vowels)

print(f"Total syllables in the text: {total_syllables}")
print(f"Total vowels in the text: {vowel_count}")

Total syllables in the text: 16
Total vowels in the text: 18

In [ ]:
#47. Check if a string contains any special characters.

In [39]:
str1 = str(input("enter the string"))
special_char = "[@_!#$%^&*()<>?/\|}{~:]"
sp_special_char = False
for i in str1:
    if i in special_char:
        sp_special_char = True
        break
if sp_special_char:
    print("The string is contain special characters") 
else:
    print("The string is not contain special characters")

enter the string I am learning #data #science form @pwskills

The string is contain special characters

In [ ]:
#48. Remove the nth word from a string.

In [52]:
str1 = "this the assignment work for pwskills"
str2 = " "
word = str1.split()
n = 1
if  0<= n < len(word):
    del word[n]
    str2 = " ".join(word)
print(str2)

this assignment work for pwskills

In [ ]:
#49. Insert a word at the nth position in a string.

In [54]:
str1 = "this the assignment work for pwskills"
str2 = " "
add_word = "for"
word = str1.split()
n = 4
if  0<= n < len(word):
    word.insert(n, add_word)
    str2 = " ".join(word)
print(str2)

this the assignment work for for pwskills

In [ ]:
#50. Convert a CSV string to a list of lists.

In [56]:
csv_string = '''1,data,science,pwskills
2,data,analytics,pwskills
3, system, design , pwskills'''
csv_list = [row.split(',') for row in csv_string.split('\n')]
print(csv_list)

[['1', 'data', 'science', 'pwskills'], ['2', 'data', 'analytics', 'pwskills'], ['3', ' system', ' design ', ' pwskills']]

In [ ]:
#List Based Practice Problem :
#1.Create a list with integers from 1 to 10.

In [7]:
list = []
for i in range(1,11):
    list.append(i)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#2. Find the length of a list without using the `len()` function.

In [7]:
list1 = [1,2,3,4,5,6,7,8,55,98]
count = 0
for i in list1:
    count += 1
print(count)

10

In [ ]:
#3. Append an element to the end of a list.

In [13]:
list1 = [1,2,3,4,5,6]
list1.append(55)
print(list1)

[1, 2, 3, 4, 5, 6, 55]

In [ ]:
#4. Insert an element at a specific index in a list.

In [15]:
list1 = [1,2,3,4,5,6]
new_element = 55
index_list1 = 3
for i in list1:
    if i == index_list1:
        list1.insert(i, new_element)
        break
print(list1)

[1, 2, 3, 55, 4, 5, 6]

In [ ]:
#5. Remove an element from a list by its value.

In [37]:
list1 = [1, 2, 3, 55, 4, 5, 6]
index_list1 = 3
for i in list1:
    if i == index_list1:
        list1.remove(list1[i])
        break
print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
#6. Remove an element from a list by its index.

In [38]:
list1 = [1, 2, 3, 55, 4, 5, 6]
index_list1 = 3
list1.pop(index_list1)
print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
#7. Check if an element exists in a list.

In [11]:
list1 = [1, 2, 3, 55, 4, 5, 6]
element_list1 = 77
found = False
for i in list1:
    if i == element_list1:
        found = True
        print(True)
        break
else:
    print(False)

False

In [ ]:
#8.Find the index of the first occurrence of an element in a list.

In [3]:
list1 = [10, 20, 30, 55, 40, 50, 60]
element_list1 = 40
list1.index(element_list1)

4

In [ ]:
#9. Count the occurrences of an element in a list.

In [9]:
list1 = [10, 20, 30, 55, 40, 50, 60,10]
element_count = 10
count = 0
for i in list1:
    if i == element_count:
        count += 1
print(count)

2

In [ ]:
#10. Reverse the order of elements in a list.

In [12]:
list1 = [10, 20, 30, 55, 40, 50, 60,10]
list1.reverse()
print(list1)

[10, 60, 50, 40, 55, 30, 20, 10]

In [ ]:
#11. Sort a list in ascending order.

In [13]:
list1 = [10, 20, 30, 55, 40, 50, 60,10]
list1.sort()
print(list1)

[10, 10, 20, 30, 40, 50, 55, 60]

In [ ]:
#12. Sort a list in descending order.

In [15]:
list1 = [10, 20, 30, 55, 40, 50, 60,10]
list1.sort(reverse=True)
print(list1)

[60, 55, 50, 40, 30, 20, 10, 10]

In [ ]:
#13. Create a list of even numbers from 1 to 20.

In [20]:
list = []
even_number = 0
for i in range(1,21):
    if i%2==0:
        list.append(i)
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#14. Create a list of odd numbers from 1 to 20.

In [21]:
list = []
even_number = 0
for i in range(1,21):
    if i%2!=0:
        list.append(i)
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#15. Find the sum of all elements in a list.

In [25]:
list1 = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
sum = 0
for i in list1:
    sum += i
print(sum)

100

In [ ]:
#16.Find the maximum value in a list.

In [30]:
list1 = [1, 3, 5, 7, 999, 11, 13, 15, 17, 19,209]
max_value = 0
for i in list1:
    if i > max_value:
        max_value = i
print(max_value)

999

In [ ]:
#17. Find the minimum value in a list.

In [34]:
list1 = [1, 3, 5, 7, 999, 11, 13, 15, 17, 19,209]
min_value = list1[0]
for i in list1:
    if i < min_value:
        min_value = i
print(min_value)

1

In [ ]:
#18. Create a list of squares of numbers from 1 to 10.

In [10]:
squares = []
for i in range(1,11):
    for number in range(1,11):
        if i == number ** 2:
            squares.append(i)
            break
print(squares)

[1, 4, 9]

In [ ]:
#19. Create a list of random numbers.

In [14]:
random_list = []
for i in range(20):
    random_number = random.randint(1, 50)
    random_list.append(random_number)
print(random_list)

[34, 43, 17, 20, 27, 10, 39, 23, 14, 27, 44, 4, 30, 5, 28, 14, 46, 41, 24, 21]

In [ ]:
#20. Remove duplicates from a list.

In [16]:
list1 = [10,20,20,20,30,40,40,50]
list2 = []
for i in list1:
    if i not in list2:
        list2.append(i)
print(list2)

[10, 20, 30, 40, 50]

In [ ]:
#21. Find the common elements between two lists.

In [17]:
list1 = [10,20,30,40,50,60,70,80]
list2 = [12,20,34,45,58,60,30,40]
common_list = []
for i in list1:
    for j in list2:
        if i == j:
            common_list.append(i)
print(common_list)

[20, 30, 40, 60]

In [ ]:
#22. Find the difference between two lists.

In [3]:
list1 = [10,20,30,40,50,60,70,80]
list2 = [12,20,34,45,58,60,30,40]
diferent_list = []
for i in list1:
    found = False
    for j in list2:
        if i == j:
            found = True
            break
    if not found:
        diferent_list.append(i)
print(diferent_list)

[10, 50, 70, 80]

In [ ]:
#23. Merge two lists.

In [5]:
list1 = [10,20,30,40,50,60,70,80]
list2 = [12,20,34,45,58,60,30,40]
merge_list = []
for i in list1:
    for j in list2:
        if i == j:
            merge_list = list1 + list2
print(merge_list)

[10, 20, 30, 40, 50, 60, 70, 80, 12, 20, 34, 45, 58, 60, 30, 40]

In [ ]:
#24. Multiply all elements in a list by 2.

In [8]:
list1 = [11,2,3,4]
list2 = []
multiply_number = 2
for i in list1:
    list2.append(i*2)
print(list2)

[22, 4, 6, 8]

In [ ]:
#25 Filter out all even numbers from a list.

In [1]:
list1 = [11,12,13,14,15,16,17]
list2 = []
for i in list1:
    if i%2==0:
        list2.append(i)
print(list2)

[12, 14, 16]

In [ ]:
#26. Convert a list of strings to a list of integers.

In [2]:
list1 = ['11', '22', '33', '44', '55']
list1 = list(map(int, list1))
print(list1)

[11, 22, 33, 44, 55]

In [ ]:
#27. Convert a list of integers to a list of strings.

In [3]:
list1 = [11, 22, 33, 44, 55]
list1 = list(map(str, list1))
print(list1)

['11', '22', '33', '44', '55']

In [ ]:
#28. Flatten a nested list.

In [5]:
list1 = [[11, 22, 33, 44], [55, 66, 77], [88, 99]]
flat_list1 = sum(list1, [])
print(flat_list1)

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [ ]:
#29. Create a list of the first 10 Fibonacci numbers.

In [13]:
fibonacci_list = []
n = 10
a , b = 0, 1
for i in range(10):
        a, b = b, a+b
        fibonacci_list.append(a)
print(fibonacci_list)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
#30. Check if a list is sorted.

In [23]:
list1 = [1,2,3,4,5,6]
is_sorted = True
for i in range(len(list1) -1):
    if list1[i] > list1[i+1]:
        is_sorted = False
        break
print(is_sorted)

True

In [ ]:
#31. Rotate a list to the left by `n` positions.

In [9]:
list1 = [1, 2, 3, 4, 5, 6]
n = 3
list1 = list1[n:] + list1[:n]
print (list1)

[4, 5, 6, 1, 2, 3]

In [ ]:
#32. Rotate a list to the right by `n` positions.

In [10]:
list1 = [1, 2, 3, 4, 5, 6]
n = 3
list1 = list1[-n:] + list1[:-n]
print (list1)

[4, 5, 6, 1, 2, 3]

In [ ]:
#33. Create a list of prime numbers up to 50.

In [1]:
prime_number = []
n = 50
for i in range(2, n):
    is_prime = True
    for j in range(2, int(i ** .5) + 1):
        if i % j == 0:
            is_prime = False
            break
    if is_prime and i > 1:
        prime_number.append(i)
print(prime_number)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
#34. Split a list into chunks of size `n`.

In [7]:
list1 = [1,2,3,4,5,6,7,8,9]
step = 3
start = 0
for i in range(start, len(list1), step):
    print(list1[i:i+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
#35. Find the second largest number in a list.

In [11]:
list1 = [1,2,3,4,5,6,7,8,9]
largest = second_largest = float('-inf')
for i in list1:
    if i > largest:
        second_largest = largest
        largest = i
    elif i > second_largest and i != largest:
        second_largest = i
number = second_largest
print(number)

8

In [ ]:
#36. Replace every element in a list with its square.

In [1]:
list1 = [1,2,3,4]
list2 = []
for i in list1:
    list2.append(i**2)
print(list2)

[1, 4, 9, 16]

In [ ]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [1]:
list1 = ["pwskills", "data", "education", "science"]
dict_list1 = {value: index for index, value in enumerate(list1)}
print(dict_list1)

{'pwskills': 0, 'data': 1, 'education': 2, 'science': 3}

In [ ]:
#38. Shuffle the elements of a list randomly.

In [6]:
import random
list1 = [1,2,3,4,5,6,7,8,9]
random.shuffle(list1)
print(list1)

[1, 6, 8, 3, 2, 4, 7, 9, 5]

In [ ]:
#39. Create a list of the first 10 factorial numbers.

In [7]:
factorial_list = []
factorial = 1
for i in range(1,11):
    for j in range(1, i+1):
        factorial *=j
    factorial_list.append(factorial)
print(factorial_list)

[1, 2, 12, 288, 34560, 24883200, 125411328000, 5056584744960000, 1834933472251084800000, 6658606584104736522240000000]

In [ ]:
#40. Check if two lists have at least one element in common.

In [15]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10,1]
common_element = False
for i in list1:
    for j in list2:
        if i == j:
            common_element = True
            
    if common_element:
        break
print(common_element)

True

In [ ]:
#41. Remove all elements from a list.

In [1]:
list1 = [1,2,3,4,5,6,7]
list1.clear()
print(list1)

[]

In [ ]:
#42. Replace negative numbers in a list with 0.

In [11]:
list1 = [1,2,-3,4,5,-6,-8,-7]
for i in range(len(list1)):
    if list1[i] < 0:
        list1[i] = 0
print(list1)

[1, 2, 0, 4, 5, 0, 0, 0]

In [ ]:
#43. Convert a string into a list of words.

In [18]:
string = "pwskills is best for data science"
list1 =string.split()
print(list1)

['pwskills', 'is', 'best', 'for', 'data', 'science']

In [ ]:
#44. Convert a list of words into a string.

In [20]:
list1 = ['pwskills', 'is', 'best', 'for', 'data', 'science']
string = " ".join(list1)
print(string)

pwskills is best for data science

In [ ]:
#45. Create a list of the first `n` powers of 2.

In [21]:
n = 5
powers_of_2 = [2 ** i for i in range(n)]
print(powers_of_2)

[1, 2, 4, 8, 16]

In [ ]:
#46. Find the longest string in a list of strings.

In [23]:
string = ["apple", "banana","strawberry", "orange"]
longest_string = max(string, key=len)
print(longest_string)

strawberry

In [ ]:
#47. Find the shortest string in a list of strings.

In [1]:
string = ["apple", "banana","strawberry", "orange"]
shortest_string = min(string, key=len)
print(shortest_string)

apple

In [ ]:
#48. Create a list of the first `n` triangular numbers.

In [15]:
triangular_number_list1 = []
n = 10
for i in range(1, n + 1):
    triangular_number = (i * (i + 1)) // 2  
    triangular_number_list1.append(triangular_number)  
print(triangular_number_list1)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [ ]:
#49. Check if a list contains another list as a subsequence.

In [10]:
list1 = [1,2,3,4,5,6,7,8,9]
sublist = [44,55,66]
def is_subsequence(list1, sublist):
    j = 0  # Index for sublist
    for i in range(len(list1)):
        if list1[i] == sublist[j]:
            j += 1
            if j == len(sublist):
                return True
        else:
            j = 0
    return False
result = is_subsequence(list1, sublist)
if result:
    print("The sublist is a subsequence of list1.")
else:
    print("The sublist is not a subsequence of list1.")

The sublist is not a subsequence of list1.

In [ ]:
#50. Swap two elements in a list by their indices.

In [19]:
list1 =  [1,22,3,4,5,6,7]
swap_indices1 = 2
swap_indices2 = 4
swap_elements(list1, swap_indices1, swap_indices2 )
print(list1)

[1, 22, 5, 4, 3, 6, 7]

In [ ]:
#Tuple Based Practice Problem :

In [ ]:
#1. Create a tuple with integers from 1 to 5.

In [20]:
tuple1 = tuple(range(1,6))
print(tuple1)

(1, 2, 3, 4, 5)

In [ ]:
#2. Access the third element of a tuple.

In [22]:
tuple1 = (1, 2, 3, 4, 5)
tuple1[2]

3

In [ ]:
#3. Find the length of a tuple without using the `len()` function.

In [29]:
tuple1 = (1, 2, 3, 4, 5)
count = 0
for t in tuple1:
    count += 1
print("the length of a tuple:", count)

the length of a tuple: 5

In [ ]:
#4. Count the occurrences of an element in a tuple.

In [3]:
tuple1 = (1, 2, 2, 3, 4, 2, 5,2)
element_to_count = 2
count = tuple1.count(element_to_count)
print(count)

4

In [ ]:
#5. Find the index of the first occurrence of an element in a tuple.

In [7]:
tuple1 = (1,2,3,4,5,6,7)
element_to_find = 2
index = tuple1.index(element_to_find)
print(index)

1

In [ ]:
#6. Check if an element exists in a tuple.

In [12]:
tuple1 = (1,2,3,4,5,6,7)
element_to_check = 2
if element_to_check in tuple1:
    print("element is found")
else:
    print("element not found")

element is found

In [ ]:
#7. Convert a tuple to a list.

In [13]:
tuple1 = (1,2,3,4,5,6,7)
print(list(tuple1))

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#8. Convert a list to a tuple.

In [14]:
list1 = [1, 2, 3, 4, 5, 6, 7]
print(tuple(list1))

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
#9. Unpack the elements of a tuple into variables.

In [16]:
tuple1 = (1,2,3,4,)
a,b,c,d = tuple1
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [ ]:
#10. Create a tuple of even numbers from 1 to 10.

In [17]:
even_number = tuple(i for i in range(1,11) if i%2== 0)
print(even_number)

(2, 4, 6, 8, 10)

In [ ]:
#11.Create a tuple of odd numbers from 1 to 10.

In [18]:
odd_number = tuple(i for i in range(1,11) if i%2 != 0)
print(odd_number)

(1, 3, 5, 7, 9)

In [ ]:
#12. Concatenate two tuples.

In [19]:
tuple1 = (1,2,3,4,5)
tuple2 = (6,8,9)
concatenate_tuple = tuple1 + tuple2
print(concatenate_tuple)

(1, 2, 3, 4, 5, 6, 8, 9)

In [ ]:
#13. Repeat a tuple three times.

In [22]:
tuple1 = (1,2,3)
repeat_tuple1 = tuple1 * 3
print(repeat_tuple1)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#14. Check if a tuple is empty.

In [23]:
tuple1 = (1, 2, 3)  
if len(tuple1) == 0:
    print("The tuple is empty")
else:
    print("The tuple is not empty")

The tuple is not empty

In [ ]:
#15.Create a nested tuple.

In [24]:
nested_tuple = ((1, 2, 3), ("apple", "banana"), (True, False))
print(nested_tuple)

((1, 2, 3), ('apple', 'banana'), (True, False))

In [ ]:
#16. Access the first element of a nested tuple.

In [25]:
nested_tuple = ((1, 2, 3), ('apple', 'banana'), (True, False))
first_inner_tuple = nested_tuple[0]  
print(first_inner_tuple)

(1, 2, 3)

In [ ]:
#17.Create a tuple with a single element.

In [28]:
single_element_tuple = (5,)  
print(type(single_element_tuple))

<class 'tuple'>

In [ ]:
#18. Compare two tuples.

In [2]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal check

tuple1 == tuple2: True
tuple1 != tuple2: False
tuple1 < tuple2: False
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: True

In [ ]:
#19. Delete a tuple.

In [4]:
tuple1 = (1, 2, 3)
del tuple1
print(tuple1)

NameError: name 'tuple1' is not defined

In [ ]:
#20. Slice a tuple.

In [5]:
tuple1 = (1, 2, 3,4,5,6,7,8,9)
print(tuple1[1:5])

(2, 3, 4, 5)

In [ ]:
#21. Find the maximum value in a tuple.

In [6]:
tuple1 = (1, 2, 3,4,5,6,7,8,9)
print(max(tuple1))

9

In [ ]:
#22. Find the minimum value in a tuple.

In [7]:
tuple1 = (1, 2, 3,4,5,6,7,8,9)
print(min(tuple1))

1

In [ ]:
#23. Convert a string to a tuple of characters.

In [10]:
string1 = "Hello World!"
character_tuple = tuple(string1)
print(character_tuple)

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [ ]:
#24. Convert a tuple of characters to a string.

In [12]:
tuple1 = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')
string1 = "".join(tuple1)
print(string1)

Hello World!

In [ ]:
#25. Create a tuple from multiple data types.

In [13]:
tuple1 = (10, "hello", True, 3.14)
print(tuple1)

(10, 'hello', True, 3.14)

In [ ]:
#26. Check if two tuples are identical.

In [14]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (1, 4, 3)
if tuple1 == tuple2:
    print("Tuples 1 and 2 are identical")
else:
    print("Tuples 1 and 2 are not identical")
if tuple1 == tuple3:
    print("Tuples 1 and 3 are identical")
else:
    print("Tuples 1 and 3 are not identical")

Tuples 1 and 2 are identical
Tuples 1 and 3 are not identical

In [15]:
#27. Sort the elements of a tuple.

In [16]:
tuple1 = (3, 1, 5, 2, 4)
sorted_tuple = tuple(sorted(tuple1)) 
print(sorted_tuple)

(1, 2, 3, 4, 5)

In [ ]:
#28. Convert a tuple of integers to a tuple of strings.

In [17]:
integer_tuple = (10, 20, 30, 40, 50)
string_tuple = tuple(str(num) for num in integer_tuple)
print(string_tuple)

('10', '20', '30', '40', '50')

In [ ]:
#29. Convert a tuple of strings to a tuple of integers.

In [18]:
string_tuple = ('10', '20', '30', '40', '50')
integer_tuple = tuple(int(num) for num in string_tuple)
print(integer_tuple)

(10, 20, 30, 40, 50)

In [19]:
#30. Merge two tuples.

In [20]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [21]:
#31. Flatten a nested tuple.

In [27]:
def flaten_tuple(nested_tuple):
    result = []
    for i in nested_tuple:
        if isinstance(i,tuple):
            result.extend(flaten_tuple(i))
        else:
            result.append(i)
    return tuple(result) 
my_nested_tuple = ((1, 2), (3, (4, 5)), 6)
flattened_tuple = flaten_tuple(my_nested_tuple)

print(flattened_tuple)

(1, 2, 3, 4, 5, 6)

In [ ]:
#32. Create a tuple of the first 5 prime numbers.

In [28]:
prime_number = [i for i in range (2,10) if all (i% j !=0 for j in range (2, int(i**0.5) + 1))]
prime_tuple = tuple(prime_number[:5])
print(f" the first 5 prime numbers are : {prime_tuple}")

 the first 5 prime numbers are : (2, 3, 5, 7)

In [ ]:
#33. Check if a tuple is a palindrome.

In [5]:
def is_palindrome_tuple(input_tuple):
    return input_tuple == input_tuple[::-1]
tuple1 = (1, 2, 3, 4, 3, 2, 1)
tuple2 = (9,11,13,14,15)
result1 = is_palindrome_tuple(tuple1)
if result1:
    print("tuple1 is a palindrome.")
else:
    print("tuple is not a palindrome")
result2 = is_palindrome_tuple(tuple2)
if result2:
    print("tuple2 is a palindrome")
else:
    print("tuple is not a palindrome")

tuple1 is a palindrome.
tuple is not a palindrome

In [ ]:
#34. Create a tuple of squares of numbers from 1 to 5.

In [7]:
square_tuple = tuple(i**2 for i in range(1,6))
print(square_tuple)

(1, 4, 9, 16, 25)

In [ ]:
#35. Filter out all even numbers from a tuple.

In [9]:
tuple1 = (1,2,3,4,5,6,7,8,9)
even_tuple1 = tuple(i for i in tuple1 if i % 2 == 0)
print(even_tuple1)

(2, 4, 6, 8)

In [ ]:
#36. Multiply all elements in a tuple by 2.

In [12]:
tuple1 = (1,2,3,4,5,6,7,8,9)
multply_tuple1 = tuple(2 * i for i in tuple1)
print(multply_tuple1)

(2, 4, 6, 8, 10, 12, 14, 16, 18)

In [ ]:
#37. Create a tuple of random numbers.

In [14]:
import random 
random_numbers = tuple(random.randint(1,100) for _ in range(5))
print(random_numbers)

(63, 11, 86, 83, 38)

In [ ]:
#38. Check if a tuple is sorted.

In [20]:
def is_sorted(tuple1):
    for i in range(len(tuple1)- 1):
        if tuple1[i] > tuple1[i+1]:
            return False
    return True
tuple1 = (1,2,3,4,5,7,8,)
print(is_sorted(tuple1))

True

In [ ]:
#39. Rotate a tuple to the left by `n` positions.

In [24]:
def rotate_left_comp(tuple1, n):
    n = n % len(tuple1)
    return tuple([tuple1[(i+n) % len(tuple1)]for i in range(len(tuple1))])
tuple1 = (1,2,3,4,5,6,7)
rotated_tuple = rotate_left_comp(tuple1, 2)
print(f"Original tuple: {tuple1}")
print(f"Rotated tuple: {rotated_tuple}")

Original tuple: (1, 2, 3, 4, 5, 6, 7)
Rotated tuple: (3, 4, 5, 6, 7, 1, 2)

In [ ]:
#40. Rotate a tuple to the right by `n` positions.

In [28]:
def rotate_right_comp(tuple1, n):
    n = n % len(tuple1)
    return tuple1[-n:] + tuple1[:-n]
tuple1 = (1,2,3,4,5,6,7)
rotated_tuple = rotate_right_comp(tuple1, 2)
print(f"Original tuple: {tuple1}")
print(f"Rotated tuple: {rotated_tuple}")

Original tuple: (1, 2, 3, 4, 5, 6, 7)
Rotated tuple: (6, 7, 1, 2, 3, 4, 5)

In [ ]:
#41. Create a tuple of the first 5 Fibonacci numbers.

In [13]:
def fibonacci(n):
    a, b = 0,1
    fibonacci_list = []
    for i in range(n):
        fibonacci_list.append(a)
        a, b = b, a+b
    return fibonacci_list
fibonacci_tuple = tuple(fibonacci(5))
print(f"The first 5 Fibonacci numbers: {fibonacci_tuple}")

The first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

In [ ]:
#42. Create a tuple from user input.

In [14]:
user_input = input("Enter elements separated by commas: ")
user_tuple = tuple(user_input.split(','))
print(f"Tuple created from user input: {user_tuple}")

Enter elements separated by commas:  I am learning data science from pwskills

Tuple created from user input: ('I am learning data science from pwskills',)

In [ ]:
#43. Swap two elements in a tuple.

In [18]:
tuple1 = (1,2,3,4,5,6,7,8,9)
index1, index2 = 1, 4
temp_list = list(tuple1) 
temp_list[index1], temp_list[index2] = temp_list[index2], temp_list[index1]
swapped_tuple = tuple(temp_list)
print(swapped_tuple)

(1, 5, 3, 4, 2, 6, 7, 8, 9)

In [ ]:
#44. Reverse the elements of a tuple.

In [19]:
tuple1 = (1, 2, 3, 4, 5)
reversed_tuple = tuple1[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [ ]:
#45. Create a tuple of the first `n` powers of 2.

In [22]:
def power_of_2(n):
    return tuple(2**i for i in range(n))
n = 10
print(power_of_2(n))

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

In [ ]:
#46. Find the longest string in a tuple of strings.

In [23]:
def longest_string(tuple1):
    longest_string1 = ""
    for i in tuple1:
        if len(i) > len (longest_string1):
            longest_string1 = i
    return longest_string1
tuple1 = ("apple", "banana", "watermelon", "mango", "pineapple")
longest_string1 = longest_string(tuple1)
print(longest_string1)

watermelon

In [ ]:
#47. Find the shortest string in a tuple of strings.

In [27]:
def shortest_string(tuple1):
    shortest_string1 = tuple1[0]
    for i in tuple1:
        if len(i) < len (shortest_string1):
            shortest_string1 = i
    return shortest_string1
tuple1 = ("apple", "banana", "watermelon", "mango", "pineapple")
shortest_string1 = shortest_string(tuple1)
print(shortest_string1)

apple

In [ ]:
#48. Create a tuple of the first `n` triangular numbers.

In [31]:
def trinagular_number_tuple(n):
    triangular_number = tuple()
    for i in range(1, n+1):
        triangular_number +=((i*(i+1))//2,)
    return triangular_number
n = 10
triangular_number = trinagular_number_tuple(n)
print(triangular_number)

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

In [ ]:
#49. Check if a tuple contains another tuple as a subsequence.

In [37]:
def is_subsequence_indices(main_tuple, sub_tuple):
    i = 0  
    for j in range(len(main_tuple)):
        if main_tuple[j] == sub_tuple[i]:
            i += 1
            if i == len(sub_tuple):
                return True
    return False
main_tuple = (4, 1, 2, 3, 5)
sub_tuple1 = (1, 2, 3)
result = is_subsequence_indices(main_tuple, sub_tuple1)
print(result)

True

In [ ]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

In [38]:
def alternating_tuple(n):
    return tuple(1 if i % 2 else 0 for i in range(n))
n = 5
alternating_tuple1 = alternating_tuple(n)
print(f"Tuple of alternating 1s and 0s of length {n}: {alternating_tuple1}")

Tuple of alternating 1s and 0s of length 5: (0, 1, 0, 1, 0)

In [ ]:
#Set Based Practice Problem :
#1. Create a set with integers from 1 to 5.

In [39]:
my_set = set(range(1, 6))
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
#2. Add an element to a set.

In [42]:
set1 = {1, 2, 3}
set1.add(4)  
print(set1)

{1, 2, 3, 4}

In [ ]:
#3. Remove an element from a set.

In [44]:
set1 = {1, 2, 3, 4 }
set1.remove(4)  
print(set1)

{1, 2, 3}

In [ ]:
#4. Check if an element exists in a set.

In [45]:
set1 = {1, 2, 3}
element_to_check = 2

if element_to_check in set1:
    print("Element exists in the set")
else:
    print("Element does not exist in the set")

Element exists in the set

In [ ]:
#5. Find the length of a set without using the `len()` function.

In [1]:
my_set = {1, 2, 3}
count = 0
for i in my_set:
    count += 1
print("Set length:", count)

Set length: 3

In [ ]:
#6. Clear all elements from a set.

In [2]:
set1 = {1,2,3}
set1.clear()
print(set1)

set()

In [ ]:
#7. Create a set of even numbers from 1 to 10.

In [3]:
even_numbers = {i for i in range(1, 11) if i % 2 == 0}
print(even_numbers)

{2, 4, 6, 8, 10}

In [ ]:
#8. Create a set of odd numbers from 1 to 10.

In [4]:
odd_numbers = {i for i in range(1, 11) if i % 2 != 0}
print(odd_numbers)

{1, 3, 5, 7, 9}

In [ ]:
#9. Find the union of two sets.

In [5]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
union_set = set1.union(set2)  
print(union_set)

{1, 2, 3, 4}

In [6]:
#10. Find the intersection of two sets.

In [9]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [ ]:
#11. Find the difference between two sets.

In [10]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
difference_set1 = set1.difference(set2)
print(difference_set1)
difference_set2 = set2.difference(set1)
print(difference_set2)

{1}
{4}

In [ ]:
#12. Check if a set is a subset of another set.

In [11]:
set1 = {1, 2, 3}
set2 = {2, 3}
is_subset = set2.issubset(set1) 
print(is_subset)

True

In [ ]:
#13. Check if a set is a superset of another set.

In [12]:
set1 = {1,2,3,4,5}
set2 = {2,3,4}
is_superset = set1.issuperset(set2)  
print(is_superset)

True

In [ ]:
#14. Create a set from a list.

In [14]:
list1 = [1, 2, 2, 3, 4]
set1 = set(list1)  
print(set1)

{1, 2, 3, 4}

In [ ]:
#15. Convert a set to a list.

In [15]:
set1 = {1, 2, 3, 4}
list1 = list(set1)
print(list1)

[1, 2, 3, 4]

In [ ]:
#16. Remove a random element from a set.

In [17]:
import random
set1 = {1, 2, 3, 4, 5}
if set1:
    random_element = set1.pop()
    print(f"Removed element: {random_element}")
    print(f"Set after removal: {set1}")
else:
    print("Set is empty, cannot remove.")

Removed element: 1
Set after removal: {2, 3, 4, 5}

In [ ]:
#17. Pop an element from a set.

In [18]:
set1 = {1, 2, 3, 4}
removed_element = set1.pop()
print(set1) 
print(removed_element)

{2, 3, 4}
1

In [ ]:
#18. Check if two sets have no elements in common.

In [20]:
set1 = {1, 2, 3}
set2 = {4, 5, 6,}
are_disjoint = set1.isdisjoint(set2)  
print(are_disjoint)

True

In [ ]:
#19. Find the symmetric difference between two sets.

In [21]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
symmetric_difference_set = set1.symmetric_difference(set2)  
print(symmetric_difference_set)

{1, 2, 5, 6}

In [ ]:
#20. Update a set with elements from another set.

In [1]:
set1 = {1, 2, 3}
set2 = {4, 5}
set1.update(set2) 
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
#21. Create a set of the first 5 prime numbers.

In [6]:
primes = set()
for i in range(2, 12):
    is_prime = True
    for j in range(2, int(i**0.5) + 1):
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        primes.add(i)
print(primes)

{2, 3, 5, 7, 11}

In [ ]:
#22. Check if two sets are identical.

In [7]:
set1 = {1, 2, 3}
set2 = {1, 2, 3}
are_identical = set1 == set2
print(are_identical)

True

In [ ]:
#23. Create a frozen set.

In [8]:
set1s = (1, 2, 3, 4)
frozen_set = frozenset(set1)
print(frozen_set)

frozenset({1, 2, 3})

In [ ]:
#24. Check if a set is disjoint with another set.

In [9]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)
print(are_disjoint)

True

In [ ]:
#25. Create a set of squares of numbers from 1 to 5.

In [11]:
numbers = range(1, 6)  
squares = {i**2 for i in numbers}
print(squares)

{1, 4, 9, 16, 25}

In [ ]:
#26. Filter out all even numbers from a set.

In [12]:
set1 = {1, 2, 3, 4, 5, 6}
even_set = {i for i in set1 if i % 2 == 0}  
print(even_set)

{2, 4, 6}

In [ ]:
#27. Multiply all elements in a set by 2.

In [16]:
set1 = {11, 2, 3, 4}
doubled_set = {i * 2 for i in set1} 
print(doubled_set)

{8, 4, 22, 6}

In [ ]:
#28. Create a set of random numbers.

In [20]:
import random
num_numbers = 5
num_range = range(1, 11)  
random_set = set(random.sample(num_range, num_numbers))
print(random_set)

{1, 2, 6, 8, 10}

In [18]:
import random

num_numbers = 5
num_range = range(1, 11)  # Using range() to specify the range of numbers from 1 to 10
random_set = set(random.sample(num_range, num_numbers))
print(random_set)

{1, 4, 7, 9, 10}

In [ ]:
#29. Check if a set is empty.

In [22]:
my_set = {} 
is_empty = not my_set
print(is_empty)

True

In [ ]:
#30. Create a nested set (hint: use frozenset).

In [23]:
nested_set = {frozenset({1, 2}), frozenset({3, 4})}
print(nested_set)

{frozenset({3, 4}), frozenset({1, 2})}

In [ ]:
#31. Remove an element from a set using the discard method.

In [25]:
my_set = {1, 2, 3, 4}
my_set.discard(2)
print(my_set)

{1, 3, 4}

In [ ]:
#32. Compare two sets.

In [26]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [ ]:
#33. Create a set from a string.

In [28]:
string1 = "This is a string with repeated words."
set1 = set(string1)
print(set1)

{'s', 'h', 't', 'o', 'd', 'p', '.', 'T', 'a', 'w', 'i', 'n', 'g', 'e', ' ', 'r'}

In [ ]:
#34. Convert a set of strings to a set of integers.

In [29]:
string_set = {"1", "2", "3", "2", "4"}
integer_set = {int(i) for i in string_set}
print(integer_set)

{1, 2, 3, 4}

In [ ]:
#35. Convert a set of integers to a set of strings.

In [30]:
set1 = {1, 2, 3, 4}
string_set = {str(i) for i in set1}
print(string_set)

{'2', '3', '4', '1'}

In [ ]:
#36. Create a set from a tuple.

In [33]:
tuple1 = (1, 2, 3, 4)
set1 = {i for i in tuple1}
print(set1)

{1, 2, 3, 4}

In [ ]:
#37. Convert a set to a tuple.

In [35]:
set1 = {1, 2, 3, 4}
tuple1 = tuple(i for i in set1)
print(tuple1)

(1, 2, 3, 4)

In [ ]:
#38. Find the maximum value in a set.

In [36]:
set1 = {3, 1, 7, 4, 2}
max_value = max(set1)
print(max_value)

7

In [ ]:
#39. Find the minimum value in a set.

In [37]:
set1 = {3, 1, 7, 4, 2}
min_value = min(set1)
print(min_value)

1

In [ ]:
#40. Create a set from user input.

In [38]:
user_input = input("Enter elements for the set, separated by spaces: ")
elements = user_input.split()
set1 = set(elements)
print(set1)

Enter elements for the set, separated by spaces:  learning data science form pwskills

{'science', 'data', 'learning', 'form', 'pwskills'}

In [ ]:
#41. Check if the intersection of two sets is empty.

In [41]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2) 
print(are_disjoint)

True

In [ ]:
#42. Create a set of the first 5 Fibonacci numbers.

In [42]:
fibonacci_set = set()
a, b = 0, 1 
for i in range(5):  
    fibonacci_set.add(a)
    a, b = b, a + b 
print(fibonacci_set)

{0, 1, 2, 3}

In [ ]:
#43. Remove duplicates from a list using sets.

In [43]:
list1 = [1, 2, 3, 2, 1, 4]
unique_list = list(set(list1)) 
print(unique_list)

[1, 2, 3, 4]

In [ ]:
#44. Check if two sets have the same elements, regardless of their count.

In [44]:
set1 = {1, 2, 3, 2, 1} 
set2 = {3, 2, 1, 4}
have_same_elements = set1 == set2  
print(have_same_elements)

False

In [ ]:
#45. Create a set of the first `n` powers of 2.

In [46]:
n = 7  
powers_of_2 = set()
for i in range(n):
    power = 2**i
    powers_of_2.add(power)
print(powers_of_2)

{32, 1, 2, 64, 4, 8, 16}

In [ ]:
#46. Find the common elements between a set and a list.

In [49]:
set1 = {1, 2, 3, 4, 6}
list1 = [2, 3, 5, 6]
common_elements = set1.intersection(list1)  
print(common_elements)

{2, 3, 6}

In [ ]:
#47. Create a set of the first `n` triangular numbers.

In [52]:
n = 5 
triangular_numbers = set()
for i in range(1, n + 1):
    triangular_number = i * (i + 1) // 2
    triangular_numbers.add(triangular_number)
print(triangular_numbers)

{1, 3, 6, 10, 15}

In [ ]:
#48. Check if a set contains another set as a subset.

In [54]:
set1 = {1, 2, 3, 4}
set2 = {2, 3}
is_subset = set2.issubset(set1)
print(is_subset)

True

In [ ]:
#49. Create a set of alternating 1s and 0s of length `n`.

In [55]:
def alternating_set(n):
    return {i % 2 for i in range(n)}
n = 5
alternating_ones_zeros = alternating_set(n)
print(alternating_ones_zeros)

{0, 1}

In [ ]:
#50. Merge multiple sets into one.

In [57]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1 | set2 | set3  
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}